/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/MemoryCaptures/

# Visual Studio / VS Code 関連
ExportedObj/
.vs/
.gradle/
.consulo/
.idea/
.rider/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.IDB
*.GDB
*.vshostexe
*.vshostexe.manifest
*.spec
*.sql
*.exe
*.dll
*.mdb
*.swp
*.bak
*.cache
*.out
*.log